@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  width: 350px;
  display: block;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid gray;
  padding: 0.5rem;
}

textarea {
  height: 100px;
}
